/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button.simpleInput,
input::-webkit-inner-spin-button.simpleInput {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number].simpleInput {
  -moz-appearance: textfield;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }